html, body {
  margin: 0;
  padding: 0;
  height: 100%;
}

body {
  font-family: Arial, sans-serif;

  background-color: #000;
  background-image: url("https://www.transparenttextures.com/patterns/stardust.png");
  background-repeat: repeat;
  background-size: auto;

  color: white;
}



.container {
  text-align: center;
  padding: 40px 20px;
}

/* CENTERED LOGO */
.logo {
  width: 350px;
  display: block;
  margin: 0 auto 30px auto;
}

/* SUBTITLE */
.subtitle {
    text-align: center;
    color: #ffffff;
    font-size: 18px;
    margin-top: -10px;
    margin-bottom: 25px;
    opacity: 0.8;
}


/* SEARCH AREA */
.search-area {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 10px;
  margin-bottom: 30px;
}

.search-area input,
.search-area select,
.search-area button {
    padding: 10px 15px;
    font-size: 16px;
    border: none;
    border-radius: 6px;
}

.search-area button {
    background-color: #00d1ff;
    color: black;
    font-weight: bold;
    cursor: pointer;
}

.search-area button:hover {
    background-color: #00a3cc;
}

/* CARD GRID */
.grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(220px, 1fr));
  gap: 20px;
  padding: 20px;
}

/* Center single card (random character) */
.grid.center-single {
  display: flex;
  justify-content: center;
  align-items: center;
}

/* CHARACTER CARD */
.card {
  background: rgba(0, 0, 0, 0.6);
  border: 2px solid #00eaff;
  border-radius: 12px;
  padding: 15px;
  text-align: center;
  color: white;
  transition: transform 0.2s;
}

.card:hover {
    transform: scale(1.05);
}

.card img {
    width: 100%;
    border-radius: 12px;
    margin-bottom: 10px;
}

.card h3 {
    margin: 5px 0;
    color: #00eaff;
}

.card p {
    margin: 0;
    font-size: 14px;
}

.pulse-btn {
  background: #32ff6a;
  padding: 12px 25px;
  font-size: 18px;
  font-weight: bold;
  color: black;
  border: none;
  border-radius: 10px;
  cursor: pointer;

  /* initial light */
  box-shadow: 0 0 10px #32ff6a;

  /* simple animation */
  animation: pulse 1.6s infinite ease-in-out;

}

@keyframes pulse {
  0% {
    box-shadow: 0 0 5px #32ff6a;
  }
  50% {
    box-shadow: 0 0 20px #32ff6a;
  }
  100% {
    box-shadow: 0 0 5px #32ff6a;
  }
}

.footer {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 35px;
    margin-top: 80px;
    padding: 40px 0;
}

.footer-img {
    width: 500px;
    filter: drop-shadow(0 0 10px #00eaff55);
}

.footer-text {
    color: #00eaff;
    font-size: 20px;
    opacity: 0.9;
    max-width: 350px;
    line-height: 1.4;
    text-align: left;
}

